*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

.Body {
    display: flex;
    justify-content: center;
}

.Body img {
  width: 1455px;
  height: 957px;
}